* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Epilogue;

}

section {
    background-color: #fdf0e9;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.container div {
    padding: 1rem 0;
}

#title {
    color: #EF6D58;
    line-height: 32px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 10px;
}

h3 {
    font-weight: 800;
    color: #391400;
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 15px;
}

.cards {
    display: flex;
}

.cards .card {
    flex-grow: 1;
    border: 1px solid #F3D1BF;
    padding: 3rem;
}

#oval {
    width: 5rem;
    height: 5rem;
    background-color: #EF6C57;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 41px;
}

h4 {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #391400;
    margin-bottom: 19px;
}

.cards .card p {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: rgba(57, 20, 0, 0.64);
    margin-bottom: 26px;
}


.cards .card a {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #391400;
    margin-bottom: 4px;
    text-decoration: none;
}
#second div{
    position: relative;
}
#second .container div:first-child{
    width: 100%;
    height: 720px;
    background-image: url("../images/Bitmap.png");
    background-repeat: no-repeat;
    background-size: cover; 
}
#second .container div::before{
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #5C2000;
    opacity: 0.5;
}
#second{
    padding-top: 3rem;
}
#second .container{
    display: flex;
    flex-wrap: wrap;
    gap:1rem;
    
}
#second .container div:nth-child(2){
    background-image: url("../images/Bitmap\ \(1\).png");
    width: 49%;
    height: 416px;
    background-repeat: no-repeat;
    background-size: cover; 

}
#second .container div:nth-child(3){
    background-image: url("../images/Bitmap\ \(2\).png");
    width: 49%;
    height: 416px;
    background-repeat: no-repeat;
    background-size: cover; 
    margin-left: 0.6rem;

}
#second .container div:nth-child(4){
    background-image: url("../images/Bitmap\ \(3\).png");
    width: 49%;
    height: 416px;
    background-repeat: no-repeat;
    background-size: cover; 

}
#second .container div:nth-child(5){
    background-image: url("../images/Bitmap\ \(4\).png");
    width: 49%;
    height: 416px;
    background-repeat: no-repeat;
    background-size: cover; 
    margin-left: 0.6rem;
}
#second .container div{
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 3rem;
}
button{
    position: relative;
    line-height: 2rem;
    color: #391400;
    padding: 5px 16px 1px 16px;
    background-color: white;
    border-radius: 19px;
    border: none;
    width: 6rem;
    margin-bottom: 27px;
}
h2{
    font-weight: 800;
    font-size: 56px;
    line-height: 64px;
    color: white;
    position: relative;
}
.bottom{
    font-size: 40px;
    font-weight: 800;
    line-height: 48px;
}
